html.fullscreen {
  height: 100%;
}

html.fullscreen body {
  display: block;
  height: 100%;
  margin: 0;
}

html.fullscreen audio, html.fullscreen video, html.fullscreen audio-visualization {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

audio {
  background-color: #f00;
}

video {
  background-color: #0f0;
}

audio-visualization {
  background-color: #00f;
}

audio-visualization.adopted {
  background-color: #0ff;
}
